<div class="index">
  <table id="startup-table">

    <thead>
      <tr>
        <th class="left-align">startup name</th>
        <th class="left-align">startup logo</th>
        <th class="left-align">founders</th>
        <th class="left-align">social networks</th>
        <th class="left-align">done</th>
        <th class="left-align">uninteresting</th>
      </tr>
    </thead>

    <tbody>
      <% @startups.each do |startup| %>
        <% unless startup.public_name.blank? %>
        <tr>
          <td><%= startup.public_name %></td>
          <td><%= image_tag(startup.logo, size: "80x70") %></td>
          <td>
            <% startup.founders.each do |founder| %>
            <%= "#{founder.job_title} - #{founder.name}" %><br />
            <% end %>
          </td>
          <td>
            <% startup.social_networks.each do |sn| %>
              <%= link_to(sn.name, sn.link, target: "_blank") %><br />
            <% end %>
          </td>
          <td>
            <%= check_box_tag "startup", "done", startup.done?, {
              id: "done-#{startup.id}",
              onclick: "updateCheckBox('#done-#{startup.id}')"
            } %>
          </td>
          <td>
            <%= check_box_tag "startup", "uninteresting", startup.uninteresting?, {
              id: "uninteresting-#{startup.id}",
              onclick: "updateCheckBox('#uninteresting-#{startup.id}')"
            } %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>