<!DOCTYPE html>
<html>
<head>
  <title>Ex1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- DataTables dependencies -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
</head>
<body class="<%= controller.controller_name %>">

  <div id="container">

    <header id="header">
      <h1>list of startups</h1>
    </header>

    <%= yield %>


  </div>

</body>
</html>
